In [1]:
import numpy as np
import pandas as pd
import math
import scipy

# problem 1

In a survey conducted by a non-banking financial company, a sample of 200 customers yielded that x of them were highly satisfied with the timely disbursal of their loans.
Write a Python code to perform the following operations:
1.Read an integer input thatspecifies the number of highly satisfied customers
2.Calculate an approximate 90% confidence interval for the proportion of the loan customers who are highly satisfied with disbursal time
•Find out the Margin of Error using scipy.stats.norm.ppf
•Calculate and print the confidence interval values rounded up to five decimal places and separated by a spaceNote:
•Margin of Error = Critical Value * Standard Error of Statistic
•Confidence Interval = Sample Statistic ± Margin of Error
Example: Let's say 172 out of 200 customers were highly satisfied.
Sample Input:172
The confidence interval should be printed as -
Sample Output:0.82856 0.89144

In [2]:
#Read an integer input thatspecifies the number of highly satisfied customers
n = 200
x = int(input("Please Enter a number of happy customers"))

Please Enter a number of happy customers172

In [3]:
p=x/n
p

0.86

In [4]:
from scipy import stats
from math import sqrt

In [5]:
stats.norm.ppf(0.95)  #90% confidence interval

1.6448536269514722

In [6]:
#critical error
critical_value = stats.norm.ppf(0.95)
critical_value

1.6448536269514722

In [7]:
#statistic error(se)
se = sqrt((p*(1-p))/n)       
se

0.024535688292770596

In [8]:
Marginal_Error = critical_value*se
Marginal_Error

0.04035761587811449

#### Confidence Interval = Sample Statistic ± Margin of Error

In [9]:
#calculate confidence interval
a=p+Marginal_Error
a

0.9003576158781145

In [10]:
#confidence interval values rounded up to five decimal places
np.around(a, 5)

0.90036

In [11]:
b=p-Marginal_Error
b

0.8196423841218855

In [12]:
#confidence interval values rounded up to five decimal places
np.around(b,5)

0.81964

# problem 2

A radar unit is used to measure the speeds of cars on a motorway. 
The speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr.
Write a Python code to perform the following operations:
    1.Find theprobabilitythat a car picked at random is traveling at more thanXkm/hr
    •Take the speed X as an input
    •Print the probability value rounded up to four decimal places

In [13]:
x=100

Let x be the random variable that represents the speed of cars. 
x has μ = 75 and σ = 15. 
We have to find the probability that x is higher than 100 or P(x > 100)
For x = 100 , z = (100 - 75) / 15= 1.6667
P(x > 90) = P(z > 1) = [total area] - [area to the left of z = 1]
= 1 - 1.6667 = 0.0467
The probability that a car selected at a random has a speed greater than 100 km/hr is equal to 0.0467

In [14]:
z = (100 - 75) / 15
z

1.6666666666666667

In [15]:
np.around(z, 4)

1.6667

In [16]:
from scipy.stats import norm

In [17]:
scipy.stats.norm.cdf(z)

0.9522096477271853

# problem 3

Write a Python program toload the “kerala.csv”data into a DataFrameand perform the following tasks:
    1.Explore the DataFrame using info()and describe()functions
    2.June and July are the peak months of rainfall. 
    Consider that if it rains more than 500mm, then chances of flood become more
    ;create a Datarame with columns –“YEAR”, “JUN_GT_500”(Contains a boolean value to show whether it rained more than500 mm
    in the month of June), “JUL_GT_500”(Contains a boolean value to show whether it rained more than500 mm in the month ofJuly)
    and “FLOODS”(Contains a boolean value to show whetherit flooded that year)
    3.Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))
    4.Calculate the probability of rain more than 500 mm in June,given it flooded that year (P(B|A))
    5.Probability of flood given it rained more than 500 mm in July
    6.Probability of rainmore than 500 mm in July given it flooded that year (P(B|A))

In [18]:
df = pd.read_csv("C:\\Users\\Asus\\Downloads\\assignment_3 dataset_j2f_a63pjpx (2).zip")
df

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,KERALA,2014,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2,3046.4,YES
114,KERALA,2015,3.1,5.8,50.1,214.1,201.8,563.6,406.0,252.2,292.9,308.1,223.6,79.4,2600.6,NO
115,KERALA,2016,2.4,3.8,35.9,143.0,186.4,522.2,412.3,325.5,173.2,225.9,125.4,23.6,2176.6,NO
116,KERALA,2017,1.9,6.8,8.9,43.6,173.5,498.5,319.6,531.8,209.5,192.4,92.5,38.1,2117.1,NO
117,KERALA,2018,29.1,52.1,48.6,116.4,183.8,625.4,1048.5,1398.9,423.6,356.1,125.4,65.1,4473.0,YES

In [19]:
(df['JUN'] >500).astype('int')

0      1
1      0
2      1
3      1
4      1
      ..
113    0
114    1
115    1
116    0
117    1
Name: JUN, Length: 118, dtype: int32

In [20]:
(df['JUL'] >500).astype('int')

0      1
1      1
2      1
3      1
4      1
      ..
113    1
114    0
115    0
116    0
117    1
Name: JUL, Length: 118, dtype: int32

In [42]:
(df['FLOODS'].astype('str'))

0      YES
1      YES
2      YES
3      YES
4       NO
      ...
113    YES
114     NO
115     NO
116     NO
117    YES
Name: FLOODS, Length: 118, dtype: object

In [43]:
# Changing the target column to numeric values
df['FLOODS'].replace({'NO': 0, 'YES': 1})

0      1
1      1
2      1
3      1
4      0
      ..
113    1
114    0
115    0
116    0
117    1
Name: FLOODS, Length: 118, dtype: int64

In [44]:
# Creating binary data for the months of June and July using the rainfall threshold
df["JUN_GT_500"] = (df["JUN"] > 500).astype("int")
df["JUL_GT_500"] = (df["JUL"] > 500).astype("int")
df_small = df.loc[:, ["YEAR", "JUN_GT_500", "JUL_GT_500", "FLOODS"]]
df_small["COUNT"] = 1
df_small.head()

   YEAR  JUN_GT_500  JUL_GT_500 FLOODS  COUNT
0  1901           1           1    YES      1
1  1902           0           1    YES      1
2  1903           1           1    YES      1
3  1904           1           1    YES      1
4  1905           1           1     NO      1

In [46]:
df_small.shape

(118, 5)

In [47]:
# Creating the tabular data based on the counts
pd.crosstab(df_small["FLOODS"], df_small["JUN_GT_500"])

JUN_GT_500   0   1
FLOODS
NO          19  39
YES          6  54

#### Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))

P(F): Probability of flooding
P(J): Probability of having more than 500 mm rain in June
P(F ∩ J): Probability of flooding and having more than 500 mm rain in June
P(F|J): Probability of flooding given it rained more than 500 mm in June

In [48]:
P_F = (6 + 54) / (6 + 54 + 19 + 39)
P_J = (39 + 54) / (6 + 54 + 19 + 39)
P_F_intersect_J = 54 / (6 + 54 + 19 + 39)
print(f"P(F): {P_F}") 
print(f"P(J): {P_J}")
print(f"P(F AND J): {P_F_intersect_J}")

P(F): 0.5084745762711864
P(J): 0.788135593220339
P(F AND J): 0.4576271186440678

In [49]:
# Now calculate probailitity of flood given it rained more than 500 mm in June (P(A|B))
P_F_J = P_F_intersect_J / P_J
print(f"P(F|J): {P_F_J}")

P(F|J): 0.5806451612903226

In [50]:
#Using the formula - P(A|B) = P(A ∩ B) / P(B) we can easily calculate condition probability
P_F_J=P_F_intersect_J/P_J
print(f"probailitity of flood given it rained more than 500 mm in June (P(A|B))\nP(FLOODS|JUNE):{P_F_J}")

probailitity of flood given it rained more than 500 mm in June (P(A|B))
P(FLOODS|JUNE):0.5806451612903226

### bayes formula
P(A∩B)=P(A|B).P(B)=P(B|A).P(A)
so,P(B|A)=P(A|B).P(B)/P(A)

In [51]:
# Calculate the probability of rain more than 500 mm in June, given it flooded that year (P(B|A))
P_J_F=(P_F_J*P_J)/P_F
print(f" probability of rain more than 500 mm in June, given it flooded that year (P(B|A))\nP(JUNE|FLOODS):{P_J_F}" )

 probability of rain more than 500 mm in June, given it flooded that year (P(B|A))
P(JUNE|FLOODS):0.9000000000000001

#probability of july

In [52]:
# Creating the tabular data based on the counts
pd.crosstab(df_small["FLOODS"], df_small["JUL_GT_500"])

JUL_GT_500   0   1
FLOODS
NO          19  39
YES          3  57

#parameters of july
P(F): Probability of flooding
P(J): Probability of having more than 500 mm rain in July
P(F ∩ J): Probability of flooding and having more than 500 mm rain in July
P(F|J): Probability of flooding given it rained more than 500 mm in July

In [53]:
P_F = (3 + 57) / (3 + 57 + 19 + 39)
P_J = (39 + 57) / (3 + 57 + 19 + 39)
P_F_intersect_J = 54 / (3 + 57 + 19 + 39)
print(f"P(F): {P_F}") 
print(f"P(J): {P_J}")
print(f"P(F AND J): {P_F_intersect_J}")

P(F): 0.5084745762711864
P(J): 0.8135593220338984
P(F AND J): 0.4576271186440678

In [54]:
# Now calculate probailitity of flood given it rained more than 500 mm in July
P_F_J = P_F_intersect_J / P_J
print(f"probailitity of flood given it rained more than 500 mm in July\nP(FLOODS|JULY): {P_F_J}")

probailitity of flood given it rained more than 500 mm in July
P(FLOODS|JULY): 0.5625

In [59]:
# Probability of rain more than 500 mm in July given it flooded that year (P(B|A))
P_J_F = (P_F_J * P_J) / P_F
print(f"Probability of rain more than 500 mm in July given it flooded that year (P(B|A))\nP(JULY|FLOODS): {P_J_F}")

Probability of rain more than 500 mm in July given it flooded that year (P(B|A))
P(JULY|FLOODS): 0.9

# question 4

In [ ]:
Write a Python program to load the wine dataset 
using the Sklearn library to a DataFrame and perform the following tasks:
    1.Convert the dataset into DataFrame using pandas.
    2.Generate the sample size of 50 and give a randomstate as 100.
    3.Calculate Z-critical, Margin of Error,
    andConfidence Interval for alcohol at 95% significance interval on generated sample data

In [2]:
from sklearn.datasets import load_wine
import pandas as pd
wine = load_wine()
df = pd.DataFrame(wine.data, columns = wine.feature_names)
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [3]:
df.isnull().sum()

alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
dtype: int64

In [4]:
df.dropna()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [5]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
173    False
174    False
175    False
176    False
177    False
Length: 178, dtype: bool

In [6]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

#rmse = mean_squared_error(y_test,y_pred,squared=False)

In [7]:
#Generate the sample size of 50 and give a randomstate as 100.
sample = df.sample(n=50,random_state=100)

In [15]:
sample

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
69,12.21,1.19,1.75,16.8,151.0,1.85,1.28,0.14,2.50,2.850000,1.280,3.07,718.0
103,11.82,1.72,1.88,19.5,86.0,2.50,1.64,0.37,1.42,2.060000,0.940,2.44,415.0
20,14.06,1.63,2.28,16.0,126.0,3.00,3.17,0.24,2.10,5.650000,1.090,3.71,780.0
116,11.82,1.47,1.99,20.8,86.0,1.98,1.60,0.30,1.53,1.950000,0.950,3.33,495.0
56,14.22,1.70,2.30,16.3,118.0,3.20,3.00,0.26,2.03,6.380000,0.940,3.31,970.0
97,12.29,1.41,1.98,16.0,85.0,2.55,2.50,0.29,1.77,2.900000,1.230,2.74,428.0
117,12.42,1.61,2.19,22.5,108.0,2.00,2.09,0.34,1.61,2.060000,1.060,2.96,345.0
39,14.22,3.99,2.51,13.2,128.0,3.00,3.04,0.20,2.08,5.100000,0.890,3.53,760.0
172,14.16,2.51,2.48,20.0,91.0,1.68,0.70,0.44,1.24,9.700000,0.620,1.71,660.0
10,14.10,2.16,2.30,18.0,105.0,2.95,3.32,0.22,2.38,5.750000,1.250,3.17,1510.0
19,13.64,3.10,2.56,15.2,116.0,2.70,3.03,0.17,1.66,5.100000,0.960,3.36,845.0
66,13.11,1.01,1.70,15.0,78.0,2.98,3.18,0.26,2.28,5.300000,1.120,3.18,502.0
55,13.56,1.73,2.46,20.5,116.0,2.96,2.78,0.20,2.45,6.250000,0.980,3.03,1120.0
61,12.64,1.36,2.02,16.8,100.0,2.02,1.41,0.53,0.62,5.750000,0.980,1.59,450.0
102,12.34,2.45,2.46,21.0,98.0,2.56,2.11,0.34,1.31,2.800000,0.800,3.38,438.0
59,12.37,0.94,1.36,10.6,88.0,1.98,0.57,0.28,0.42,1.950000,1.050,1.82,520.0
83,13.05,3.86,2.32,22.5,85.0,1.65,1.59,0.61,1.62,4.800000,0.840,2.01,515.0
78,12.33,0.99,1.95,14.8,136.0,1.90,1.85,0.35,2.76,3.400000,1.060,2.31,750.0
110,11.46,3.74,1.82,19.5,107.0,3.18,2.58,0.24,3.58,2.900000,0.750,2.81,562.0
163,12.96,3.45,2.35,18.5,106.0,1.39,0.70,0.40,0.94,5.280000,0.680,1.75,675.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.380000,1.050,3.40,1050.0
160,12.36,3.83,2.38,21.0,88.0,2.30,0.92,0.50,1.04,7.650000,0.560,1.58,520.0
47,13.90,1.68,2.12,16.0,101.0,3.10,3.39,0.21,2.14,6.100000,0.910,3.33,985.0
49,13.94,1.73,2.27,17.4,108.0,2.88,3.54,0.32,2.08,8.900000,1.120,3.10,1260.0
67,12.37,1.17,1.92,19.6,78.0,2.11,2.00,0.27,1.04,4.680000,1.120,3.48,510.0
136,12.25,4.72,2.54,21.0,89.0,1.38,0.47,0.53,0.80,3.850000,0.750,1.27,720.0
68,13.34,0.94,2.36,17.0,110.0,2.53,1.30,0.55,0.42,3.170000,1.020,1.93,750.0
133,12.70,3.55,2.36,21.5,106.0,1.70,1.20,0.17,0.84,5.000000,0.780,1.29,600.0
60,12.33,1.10,2.28,16.0,101.0,2.05,1.09,0.63,0.41,3.270000,1.250,1.67,680.0
76,13.03,0.90,1.71,16.0,86.0,1.95,2.03,0.24,1.46,4.600000,1.190,2.48,392.0
171,12.77,2.39,2.28,19.5,86.0,1.39,0.51,0.48,0.64,9.899999,0.570,1.63,470.0
170,12.20,3.03,2.32,19.0,96.0,1.25,0.49,0.40,0.73,5.500000,0.660,1.83,510.0
70,12.29,1.61,2.21,20.4,103.0,1.10,1.02,0.37,1.46,3.050000,0.906,1.82,870.0
168,13.58,2.58,2.69,24.5,105.0,1.55,0.84,0.39,1.54,8.660000,0.740,1.80,750.0
124,11.87,4.31,2.39,21.0,82.0,2.86,3.03,0.21,2.91,2.800000,0.750,3.64,380.0
26,13.39,1.77,2.62,16.1,93.0,2.85,2.94,0.34,1.45,4.800000,0.920,3.22,1195.0
95,12.47,1.52,2.20,19.0,162.0,2.50,2.27,0.32,3.28,2.600000,1.160,2.63,937.0
91,12.00,1.51,2.42,22.0,86.0,1.45,1.25,0.50,1.63,3.600000,1.050,2.65,450.0
24,13.50,1.81,2.61,20.0,96.0,2.53,2.61,0.28,1.66,3.520000,1.120,3.82,845.0
109,11.61,1.35,2.70,20.0,94.0,2.74,2.92,0.29,2.49,2.650000,0.960,3.26,680.0
121,11.56,2.05,3.23,28.5,119.0,3.18,5.08,0.47,1.87,6.000000,0.930,3.69,465.0
21,12.93,3.80,2.65,18.6,102.0,2.41,2.41,0.25,1.98,4.500000,1.030,3.52,770.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.300000,0.600,1.62,840.0
63,12.37,1.13,2.16,19.0,87.0,3.50,3.10,0.19,1.87,4.450000,1.220,2.87,420.0
58,13.72,1.43,2.50,16.7,108.0,3.40,3.67,0.19,2.04,6.800000,0.890,2.87,1285.0
99,12.29,3.17,2.21,18.0,88.0,2.85,2.99,0.45,2.81,2.300000,1.420,2.83,406.0
144,12.25,3.88,2.20,18.5,112.0,1.38,0.78,0.29,1.14,8.210000,0.650,2.00,855.0
81,12.72,1.81,2.20,18.8,86.0,2.20,2.53,0.26,1.77,3.900000,1.160,3.14,714.0
87,11.65,1.67,2.62,26.0,88.0,1.92,1.61,0.40,1.34,2.600000,1.360,3.21,562.0
43,13.24,3.98,2.29,17.5,103.0,2.64,2.63,0.32,1.66,4.360000,0.820,3.00,680.0

In [16]:
import math
from scipy import stats
z_critical = stats.norm.ppf(q=0.95) # Z_critical

In [17]:
#Calculate Z-critical
z_critical

1.6448536269514722

In [18]:
pop_std = sample['alcohol'].std()

In [19]:
pop_std

0.7768280875142328

In [20]:
sample_size = 50
margin_of_error = z_critical*(pop_std/math.sqrt(sample_size))

In [21]:
#calculate margin of error
margin_of_error

0.1807037538406046

In [22]:
#calculate Confidence interval
sample_mean = sample['alcohol'].mean()

In [23]:
sample_mean

12.7956

In [24]:
sample_mean + margin_of_error, sample_mean - margin_of_error

(12.976303753840606, 12.614896246159395)